#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border: 2px solid;
    border-radius: 20px;
    width: 850px;
    margin: auto;
}

#display {
    height: 150px;
    width: 800px;
    text-align: right;
    vertical-align: center;
    line-height: 150px;
    font-size: 150px;
    margin: 20px 0px;
    background-color: #cdd1d1;
}

#calculator-body {
    display: flex;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    width: 800px;
}

#left-side {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
}

#operators {
    display: flex;
    flex-direction: column;
    width: 200px;
}

button {
    padding: 25px;
    margin: 9px;
    flex: 1 1 30%;
    font-size: 50px;
    background: orange;
}

.operator {
    background: #3d7571;
}